*.log
**/build/
**/dist/
**/newman/
**/public/
**/coverage/
**/node_modules/
.#*
__pycache__/
.envrc
.idea
.venv
lib/
*.tsbuildinfo
*.zip
node_modules
_site/
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.secrets
cdk.out
.local_config
.npmrc
.trivy_out/
.cfn_guard_out/
.sbom/
